main {
    background: radial-gradient(circle, #8e9a3f 10%, transparent 11%),
        radial-gradient(circle at bottom left, #8e9a3f 5%, transparent 6%),
        radial-gradient(circle at bottom right, #8e9a3f 5%, transparent 6%),
        radial-gradient(circle at top left, #8e9a3f 5%, transparent 6%),
        radial-gradient(circle at top right, #8e9a3f 5%, transparent 6%);
    background-size: 6em 6em;
    background-color: #57573a;
    opacity: 1;
}

#article-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#article-div article {
    width: 70%;
    padding-top: 1rem;
    font-family: monospace;
    font-size: large;
    font-weight: 300;
    background: rgb(255, 255, 68);
    padding-top: 5rem;
}
#article-div article > p {
    line-height: 25px;
    text-align: justify;
    margin: auto;
    max-width: 700px;
    padding-bottom: 3rem;
}

#article-div article > h1 {
    text-align: center;
    margin: auto;
    max-width: 700px;
}
#article-div article > h1 {
    font-size: xx-large;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin-bottom: 1rem;
}

footer h4 {
    text-decoration: underline;
}
